h2 {
  text-align: center;
}

.outputs {
  border: 1px solid black;
  min-height: 81vh;
  overflow: scroll;
}
.chat {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eee;
  margin: 10px;
}
form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 5px 2px;
}
